{% extends 'tracker/base.html' %}
{% block body %}
<h3>How to use this site:</h3>
    <ul>
        <li>Select an island/country from the list below</li>
        <li>Choose to:
            <strong>Search for persons</strong>,
            <strong>add a missing person</strong>,
            <strong>report an emergency</strong>,
            <strong>request supplies</strong>,
            <strong>share supplies or view/report activity</strong>.
        </li>
    </ul>
    <hr/>
    <div class="alert alert-danger">
        <p><strong>Attention:</strong></p>
        <ul>
            <li>We have added the ability to provide more information about missing person(s).</li>
            <li>Requesters can receive an automated email alert once missing persons are "marked safe" by providing an email in the "requester email" field.</li>
            <li><a href="{% url 'news:topics' %}" class="btn btn-primary">Important Updates</a></li>
        </ul>
    </div>
    <hr/>
    <p class="lead">Select one of the islands/countries affected by Irma:<br/>
    </p>
    <ul class="list-unstyled list-inline">
        {% for area in area_list %}
            <li><a href="{{ area.get_absolute_url }}" class="btn btn-primary btn-lg">{{ area.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
