<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Person Tracker{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Person Tracker</h1>
            <p class="lead">Let's help each other find our loved ones!</p>
            <hr/>
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">&copy; www.irmatracker.com</p>
            <ul class="list-unstyled list-inline text-center">
                <li><a>Privacy Policy</a></li>
                <li><a>Terms of Service</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
