{% extends 'tracker/base.html' %}
{% block title %}Request Supplies - {{ area.name }}{% endblock %}
{% load bootstrap3 %}
{% block body %}
    <ul class="list-unstyled">
        <li><a href="{% url 'tracker:area_detail' slug=area.slug %}" class="btn btn-default btn-xs">Go back</a></li>
    </ul>
    <div class="jumbotron">
        <h1 class="lead text-center">I need supplies</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_field form.full_name %}
            {% bootstrap_field form.address %}
            {% bootstrap_field form.district %}
            {% bootstrap_field form.contact_numbers %}
            {% bootstrap_field form.supplies %}
            <div class="form-group">
                <span>If you can't find the supplies you're looking for, please download our app.</span>
                <ul class="list-inline list-unstyled">
                    <li>
                        <h3 class="text-center">
                            <a href="https://play.google.com/store/apps/details?id=com.cellapp.irma&hl=en"><i class="fa fa-android" aria-hidden="true"></i><br/>Android</a>
                        </h3>
                    </li>
                    <li>
                        <h3 class="text-center">
                            <a href="https://itunes.apple.com/us/app/irma-tracker/id1282227862"><i class="fa fa-apple" aria-hidden="true"></i><br/>iOS</a>
                        </h3>
                    </li>
                </ul>
            </div>
            {% bootstrap_field form.quantity %}
            {% bootstrap_field form.dropoff_instructions %}
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}